<!DOCTYPE html>
<head>
       <meta charset="utf-8">
       <title>Социолингвистическая (типа) анкета</title>
    </head>
 <body>

 <form action = '/answer'>
    <p><b>Ваше имя:</b> <input type="text" name="name" value=""></p>
	<p><b>Ваш пол:</b></p>
	<input type="radio" name="gender" value="boys">Мужской<br>
	<input type="radio" name="gender" value="girls">Женский<br>
	<input type="radio" name="gender" value="other">Другое/Предпочитаю не указывать<br>
    <p><b>Ваш возраст (полных лет, числом):</b> <input type="text" name="age" value=""></p>
	<p><b>Ваш родной город:</b> <input type="text" name="city" value=""></p>
	<br>
	<p><b>Как вы относитесь к феминитивам в русском языке?:</b></p>
	<input type="radio" name="reaction" value="good">Хорошо<br>
	<input type="radio" name="reaction" value="neutral">Нейтрально<br>
	<input type="radio" name="reaction" value="bad">Плохо<br>
	<input type="radio" name="reaction" value="react">Затрудняюсь ответить<br>
	<br>
	<p><b>Используете ли вы феминитивы в собственной речи?:</b></p>
	<input type="radio" name="usage" value="yesofcourse">Да, использую абсолютно любые феминитивы, в том числе неустоявшиеся типа "авторка".<br>
	<input type="radio" name="usage" value="neutralyes">Да, но только прижившиеся в языке формы.<br>
	<input type="radio" name="usage" value="noofcourse">Нет и не собираюсь.<br>
	<input type="radio" name="usage" value="neutralno">Нет, но хочу начать.<br>
	<input type="radio" name="usage" value="use">Затрудняюсь ответить.<br>
	<br>
	<p><b>Как вы считаете, нужны ли в русском языке феминитивы в принципе?:</b></p>
	<input type="radio" name="need" value="yep">Да<br>
	<input type="radio" name="need" value="nope">Нет<br>
	<input type="radio" name="need" value="idk">Затрудняюсь ответить<br>
    <p><input type="submit"></p>
 </form>

 </body>
 </html>