<!DOCTYPE html>
<head>
       <meta charset="utf-8">
       <title>Статистика</title>
    </head>
 <body>

 <form>
    <p>Всего респондентов-мужчин: {{ men }}</p>
	<p>Всего респондентов-женщин: {{ women }}</p>
	<p>{{ gender_who }} предпочли не указывать пол.</p>
	<br>
	<p>Положительно относятся к феминитивам: {{ poz_react }}</p>
	<p>Нейтрально относятся к феминитивам: {{ neu_react }}</p>
	<p>Отрицательно относятся к феминитивам: {{ neg_react }}</p>
	<p>Затрудняются ответить: {{ na_react }}</p>
	<br>
	<p>Используют феминитивы в речи, в том числе неустоявшиеся: {{ use_yes_one }}</p>
	<p>Используют в речи только устоявшиеся феминитивы: {{ use_yes_two }}</p>
	<p>Не используют феминитивы и не собираются: {{ use_no_one }}</p>
	<p>Не используют феминитивы, но хотели бы начать: {{ use_no_two }}</p>
	<p>Затрудняются ответить: {{ na_use }}</p>
	<br>
	<p>Считают, что феминитивы нужны: {{ poz_need }}</p>
	<p>Считают, что феминитивы не нужны: {{ neg_need }}</p>
	<p>Затрудняются ответить: {{ na_need }}</p>
 </form>

 </body>
 </html>